---
import "./commo.css";
---

<!-- Title -->
<div class="block-header block-header--center">
  <h2 class="block-header__title block-header__title--big block-header__title--white">***</h2>
  <div class="block-header__text">
    <p>***</p>
  </div>
</div>

<!-- Button -->

<a class="hero__button button button--min button--white button--icon" href="#">
  <span>***</span>
</a>
