---
import "./reviews.css";
---

<section class="reviews">
  <div class="reviews__container">
    <div class="reviews__block-header block-header block-header--center">
      <h2 class="block-header__title">Here our original reviews from trusted platform</h2>
    </div>
    <div class="reviews__body">
      <div class="reviews__slider swiper">
        <div class="reviews__wrapper swiper-wrapper">
          <div class="reviews__slide slide-reviews swiper-slide">
            <div class="slide-reviews__logo">
              <img src="/images/reviews/logo.jpg" alt="Logo" />
            </div>
            <div class="slide-reviews__text text">
              <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned my leaky roof into a stockade. With their craftsmanship and the best materials, my house is now ready to weather any storm.</p>
            </div>
            <div class="slide-reviews__user">
              <div class="slide-reviews__avatar">
                <img src="/images/reviews/avatar.jpg" alt="Avatar" />
              </div>
              <div class="slide-reviews__body">
                <div class="slide-reviews__name">Kende Attila</div>

                <div class="slide-reviews__rating rating">
                  <div class="rating__items">
                    <input class="rating__item" id="rating__5" type="radio" name="rating" value="5" />
                    <label class="rating__label" for="rating__5"></label>
                    <input class="rating__item" id="rating__4" type="radio" name="rating" value="4" />
                    <label class="rating__label" for="rating__4"></label>
                    <input class="rating__item" id="rating__3" type="radio" checked name="rating" value="3" />
                    <label class="rating__label" for="rating__3"></label>
                    <input class="rating__item" id="rating__2" type="radio" name="rating" value="2" />
                    <label class="rating__label" for="rating__2"></label>
                    <input class="rating__item" id="rating__1" type="radio" name="rating" value="1" />
                    <label class="rating__label" for="rating__1"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__slide slide-reviews swiper-slide">
            <div class="slide-reviews__logo">
              <img src="/images/reviews/logo.jpg" alt="Logo" />
            </div>
            <div class="slide-reviews__text text">
              <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned my leaky roof into a stockade. With their craftsmanship and the best materials, my house is now ready to weather any storm.</p>
            </div>
            <div class="slide-reviews__user">
              <div class="slide-reviews__avatar">
                <img src="/images/reviews/avatar.jpg" alt="Avatar" />
              </div>
              <div class="slide-reviews__body">
                <div class="slide-reviews__name">Kende Attila</div>
                <div class="slide-reviews__rating rating">
                  <div class="rating__items">
                    <input class="rating__item" id="rating__15" type="radio" name="rating" value="5" />
                    <label class="rating__label" for="rating__15"></label>
                    <input class="rating__item" id="rating__14" type="radio" name="rating" value="4" />
                    <label class="rating__label" for="rating__14"></label>
                    <input class="rating__item" id="rating__13" type="radio" checked name="rating" value="3" />
                    <label class="rating__label" for="rating__13"></label>
                    <input class="rating__item" id="rating__12" type="radio" name="rating" value="2" />
                    <label class="rating__label" for="rating__12"></label>
                    <input class="rating__item" id="rating__11" type="radio" name="rating" value="1" />
                    <label class="rating__label" for="rating__11"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__slide slide-reviews swiper-slide">
            <div class="slide-reviews__logo">
              <img src="/images/reviews/logo.jpg" alt="Logo" />
            </div>
            <div class="slide-reviews__text text">
              <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned my leaky roof into a stockade. With their craftsmanship and the best materials, my house is now ready to weather any storm.</p>
            </div>
            <div class="slide-reviews__user">
              <div class="slide-reviews__avatar">
                <img src="/images/reviews/avatar.jpg" alt="Avatar" />
              </div>
              <div class="slide-reviews__body">
                <div class="slide-reviews__name">Kende Attila</div>
                <div class="slide-reviews__rating rating">
                  <div class="rating__items">
                    <input class="rating__item" id="rating__25" type="radio" name="rating" value="5" />
                    <label class="rating__label" for="rating__25"></label>
                    <input class="rating__item" id="rating__24" type="radio" name="rating" value="4" />
                    <label class="rating__label" for="rating__24"></label>
                    <input class="rating__item" id="rating__23" type="radio" checked name="rating" value="3" />
                    <label class="rating__label" for="rating__23"></label>
                    <input class="rating__item" id="rating__22" type="radio" name="rating" value="2" />
                    <label class="rating__label" for="rating__22"></label>
                    <input class="rating__item" id="rating__21" type="radio" name="rating" value="1" />
                    <label class="rating__label" for="rating__21"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="reviews__slide slide-reviews swiper-slide">
            <div class="slide-reviews__logo">
              <img src="/images/reviews/logo.jpg" alt="Logo" />
            </div>
            <div class="slide-reviews__text text">
              <p>Roof repairs can be a real headache, but HomePro makes it easy! Their roofing team turned my leaky roof into a stockade. With their craftsmanship and the best materials, my house is now ready to weather any storm.</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, consequatur, voluptas soluta atque laborum nihil amet molestiae quod est fugit similique ipsum iure ex esse, dolorem incidunt commodi impedit! Quibusdam.</p>
            </div>
            <div class="slide-reviews__user">
              <div class="slide-reviews__avatar">
                <img src="/images/reviews/avatar.jpg" alt="Avatar" />
              </div>
              <div class="slide-reviews__body">
                <div class="slide-reviews__name">Kende Attila</div>
                <div class="slide-reviews__rating rating">
                  <div class="rating__items">
                    <input class="rating__item" id="rating__35" type="radio" name="rating" value="5" />
                    <label class="rating__label" for="rating__35"></label>
                    <input class="rating__item" id="rating__34" type="radio" name="rating" value="4" />
                    <label class="rating__label" for="rating__34"></label>
                    <input class="rating__item" id="rating__33" type="radio" checked name="rating" value="3" />
                    <label class="rating__label" for="rating__33"></label>
                    <input class="rating__item" id="rating__32" type="radio" name="rating" value="2" />
                    <label class="rating__label" for="rating__32"></label>
                    <input class="rating__item" id="rating__31" type="radio" name="rating" value="1" />
                    <label class="rating__label" for="rating__31"></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="reviews__arrow reviews__arrow--left" type="button"></button>
      <button class="reviews__arrow reviews__arrow--right" type="button"></button>
      <div class="reviews__bullets"></div>
    </div>
  </div>
</section>

<script>
  // Імпорт Swiper та основних стилів
  import Swiper from "swiper";
  import "swiper/css"; // Основні стилі Swiper
  import "swiper/css/navigation"; // Стилі для модуля навігації

  // Підключення плагінів Swiper через звичайний JS
  import { Navigation, Pagination } from "swiper/modules"; // Або просто 'swiper' для старіших версій

  // Ініціалізація Swiper з плагінами
  const swiper = new Swiper(".reviews__slider", {
    loop: false,

    // Модуль Navigation
    modules: [Navigation, Pagination],

    autoHeight: true,

    pagination: {
      el: ".reviews__bullets",
      clickable: true,
    },

    navigation: {
      nextEl: ".reviews__arrow--right",
      prevEl: ".reviews__arrow--left",
    },
  });
</script>
